body {
    background-color: rgb(212, 211, 211);
}

header {
    background-color: white;
}

h1 {
    color: rgb(96, 168, 168);
}

#left {
  
 margin-left: 50px;
 margin-bottom: 10px;
}

#middle {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

h2 {
    font-size: 20px;
    color: rgb(96, 168, 168);
}

#right {
  margin-right: 50px;
  text-align: center;
  border-color: white;  
}

#portfoliobiz {
    margin-bottom: 20px;
    text-align: center;
}

#creations {

    padding: 15px;
    padding-bottom: 15px;
   
    image-rendering: auto;
    
}



#bio{
    margin-bottom: 15px;
}

#contactme {
    margin-bottom: 15px;
}

#mes {
    padding: 100px;
}

.navbar-brand {
    background-color: rgb(96, 168, 168);
    color: white;
   
}

.container-fluid {
    padding-left: 64px;
    padding-right: 105px;
}

.footer {
    position: relative;
    margin-top: 100px;
    height: 100px;
   bottom: 0;
    color: white;
    clear: both;
    background-color: grey;
    text-align: center;
    padding-top: 40px;
    border: 10px;
   width: 100%;

  }
  
  .social {
      padding-bottom: 60px;
  }

  .creation1 {
    background-color: rgb(96, 168, 168);
    color: white;
  }

  .creation2 {
    background-color: rgb(96, 168, 168);
    color: white;
  }

  .creation3 {
    background-color: rgb(96, 168, 168);
    color: white;
  }

  .creation4 {
    background-color: rgb(96, 168, 168);
    color: white;
  }

  .creation5 {
    background-color: rgb(96, 168, 168);
    color: white;
  }

  .image1 {
      image-orientation: inherit; 
  }